:root {
  --primary-color: var(--theme-primary-color);
  --secondary-color: var(--theme-secondary-color);
  --background-color: var(--theme-background-color);
  --text-color: var(--theme-text-color);
  --link-color: var(--theme-link-color);
  --error-color: var(--theme-error-color);
  --success-color: var(--theme-success-color);
  --warning-color: var(--theme-warning-color);
  --info-color: var(--theme-info-color);
  --accent-color: var(--theme-accent-color);
}

body {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: var(--background-color);
}
