.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'topBar topBar'
    'sideBar main'
    'footer footer';
  height: 100vh;
  width: 100vw;
}
.topBar {
  grid-area: topBar;
  background-color: #3f1717;
  height: 50px;
}
.sideBar {
  display: flex;
  grid-area: sideBar;
  width: 100px;
  flex-direction: column;
  background-color: #ff0000;
}
.main {
  display: flex;
  grid-area: main;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #123403;
  overflow: scroll;
}
.footer {
  display: flex;
  grid-area: footer;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #3a4933;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .sideBar:hover {
    background-color: #ff000015;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    grid-template-areas:
      'topBar topBar'
      'main main'
      'footer footer';
  }
  .sideBar {
    display: none;
  }
  .footer {
    height: 10px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

